*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

h1{
  background-color: #101820;
  color: #fff;
  height: 5rem;
  line-height: 5rem;
}
.choice{
  height: 200px;
  width: 200px;

}
.choice:hover{
  /* opacity: 0.5; */
  cursor: pointer;
  background-color: #101820;
  border-radius: 50%;
}
span{
  font-size: 130px;
}

.choices{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;
}

.score-board{
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  gap: 5rem;
}
#user-score, #comp-score{
  font-size: 4rem;
}

.msg-container{
  margin-top: 5rem;
}

#msg{
  font-size: 2rem;
  background-color: #101820;
  color: #fff;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}